@{
    ViewBag.Title = "Sobre o Projeto Tecidolandia";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<h3><strong>
    Esta é uma aplicação criada para controle e <br />
    regsitro de vendas.
</strong></h3>
<br />

<p>Criado para uso funcional, também foi um grande <br />
   desafio para min na área de programação. <br />
   Basicamente nesta aplicação é possível cadastrar <br />
   clientes e vendedores, tecidos disponíveis <br />
   em estoque e registrar as vendas efetuadas.</p>

<p>Este projeto também será utilizado em meu portifólio, <br />
   onde desejo dar foco na parte de Backend da aplicação, <br />
   que é a area de desenvolvimento que desejo atuar.</p>
