@{
    ViewBag.Title = "Sobre o Projeto Tecidolandia";
}

<link href="@Url.Content("~/Content/EditSite.css")" rel="stylesheet" type="text/css" />

<h3 class="well" style="font-family: Segoe UI Historic, serif; text-align: center">
    <strong>
        Esta é uma aplicação criada para controle e regsitro de vendas.
    </strong>
</h3>
<br />

<div class= "well" style="font-family: Segoe UI Historic; text-align:center ">

    <p>
        Criado para uso funcional, também foi um grande <br />
        desafio para min na área de programação. <br />
        Basicamente nesta aplicação é possível cadastrar <br />
        clientes e vendedores, tecidos disponíveis <br />
        em estoque e registrar as vendas efetuadas.
    </p>

    <p>
        Este projeto também será utilizado em meu portifólio, <br />
        onde desejo dar foco na parte de Backend da aplicação, <br />
        que é a area de desenvolvimento que desejo atuar.
    </p>
</div>

