@{
    ViewBag.Title = "Home Page";
}

<link href="@Url.Content("~/Content/EditSite.css")" rel="stylesheet" type="text/css" />

<div class="jumbotron">
    <h1>TECIDOLANDIA</h1>
    <p class="lead">Aplicação criada para registro e controle de venda de tecidos.</p>
</div>
