@{
    ViewBag.Title = "Home Page";
}

<link href="@Url.Content("~/Content/EditSite.css")" rel="stylesheet" type="text/css" />

<div class="jumbotron" style="background-color: #453d3d">
    @*<h1>TECIDOLANDIA</h1>
    <p class="lead">Aplicação criada para registro e controle de venda de tecidos.</p>*@
    <img src="~/Imagens/Tecidolândia.png" class="center-block" alt="Me" width="70%">
</div>
