@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TECIDOLANDIA</h1>
    <p class="lead">Aplicação criada para registro e controle de venda de tecidos.</p>
    <p>@*<a href="https://www.linkedin.com/in/williannfreitas/" class="btn btn-primary btn-lg">LinkedIn &raquo;</a>*@</p>
</div>

@*<div class="row">
    <div class="col-md-12">
        <h2>Sobre os nossos tecidos</h2>
        <p>
            Tecidos e feltros classicos de qualidade com estampas únicas e difíceis de achar no mercado.
        </p>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem; ">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem; ">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem; ">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>*@