@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TECIDOLANDIA</h1>
    <p class="lead">Aplicação criada para registro e controle de venda de tecidos.</p>
    <p><a href="https://www.linkedin.com/in/williannfreitas/" class="btn btn-primary btn-lg">LinkedIn &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sobre os nossos tecidos</h2>
        <p>
            Tecidos e feltros classicos de qualidade com estampas únicas e difíceis de achar no mercado. 
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>