################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tecidolandia/bin
/Tecidolandia/obj/Debug
/Tecidolandia/.vs/Tecidolandia/FileContentIndex
